{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <h1>{{ title }}</h1>

  <p>Tacopalten är inte bara en maträtt – det är en tusenårig familjetradition som har överlevt genom generationer. Vår
    historia sträcker sig långt tillbaka i tiden och är en unik fusion av samiska och mexikanska kulturer.</p>

  <p>Grundat som ett familjeföretag har Tacopalten överlevt och frodats genom århundraden. Vår passion för att föra
    samman smaker och traditioner har gjort oss till en unik del av den globala matvärlden.</p>

  <p>Med rötterna djupt förankrade i de samiska och mexikanska kulturerna har våra rätter blivit en hyllning till våra
    förfäders arv. Varje tugga av Tacopalt är en resa genom generationer av kärlek, omsorg och hantverk.</p>

  <p>Vår familj är en mångfaldig och färgstark mix av samiska och mexikanska traditioner. Den kulturella
    sammansmältningen genomsyrar varje del av vårt företag – från de autentiska råvarorna vi väljer till de unika
    smakkombinationerna som dansar på dina smaklökar.</p>

  <p>Vi strävar efter att inte bara erbjuda en gastronomisk upplevelse utan också att dela med oss av vår rika historia
    och kultur. Vårt mål är att varje besök på Tacopalten ska kännas som en resa genom tid och tradition, där varje
    tugga är en hyllning till vårt arv.</p>

  <p>Välkommen till vår familj. Välkommen till Tacopalten - där tradition möter smak, och där varje måltid berättar en
    historia.</p>

</main>
{% endblock %}