{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <header class="hero bleed">
    <img
      src="/img/Firefly En fet palt taco med extra allt. Foto smaskig meny bild. Mycket palt. Lingon och hjortron. 4.jpg"
      alt="Mums">
    <h1>{{ title }}</h1>
  </header>
  <article>
    <header>
      <h2>Veckans meny</h2>
    </header>
    <div class="grid" data-layout="50-50">

      <ul>
        <li>
          <h3>
            Måndag: Palt-Tacos
          </h3>
        </li>
        <li>Snabb-Palt Tacos med Riven Västerbottenost</li>
        <li>Lingonsalsa</li>
        <li>Gravad lax Guacamole</li>
        <li>Krossad Gröpeppar</li>
      </ul>

      <ul>
        <li>
          <h3>
            Tisdag: Älgkött Tacos
          </h3>
        </li>
        <li>Älgkött Tacos med Karl-Johansvamp</li>
        <li>Lingon-chipotle sås</li>
        <li>Vitlöksstekt kantarellsallad</li>
        <li>Färska örter</li>

      </ul>
      <ul>
        <li>
          <h3>
            Onsdag: Räkmums Tacos
          </h3>
        </li>
        <li>Räkmums Tacos med avokado och lime</li>
        <li>Mangosalsa</li>
        <li>Sallad med koriander och chili</li>
        <li>Sriracha Majonnäs</li>
      </ul>

      <ul>
        <li>
          <h3>
            Torsdag: Svensk Korv Tacos
          </h3>
        </li>
        <li>Svensk korv Tacos med senap och lök</li>
        <li>Inlagd gurka salsa</li>
        <li>Blodpudding Crisps</li>
        <li>Krossad Gröpeppar</li>

      </ul>
      <ul>
        <li>
          <h3>
            Fredag: Vegetariska Pitepalt Tacos
          </h3>
        </li>
        <li>Vegetariska Pitepalt Tacos med svamp och potatis</li>
        <li>Grönkålsslaw</li>
        <li>Picklad rödlök och äpple</li>
        <li>Fetaostkräm</li>
      </ul>

      <ul>
        <li>
          <h3>
            Lördag: Renkött Tacos
          </h3>
        </li>
        <li>Renkött Tacos med hjortron och rårörda lingon</li>
        <li>Kantarell och löksky</li>
        <li>Smörstekt kål</li>
        <li>Kryddig lingonchutney</li>
      </ul>

      <ul>
        <li>
          <h3>
            Söndag: Lax Tacos
          </h3>
        </li>
        <li>Lax Tacos med dill och citron</li>
        <li>Rädisa och gurksallad</li>
        <li>Honungssenapssås</li>
        <li>Rökt paprika aioli</li>
      </ul>
    </div>
    <h2>
      Drycker och Efterrätter
    </h2>
    <div class="grid" data-layout="50-50">
      <ul>
        <li>
          <h3>
            Drycker:
          </h3>
        </li>
        <li>Hjortronläsk</li>
        <li>Blåbärs- och Lingonmargarita</li>
        <li>Svartvinbärs Agua Fresca</li>
      </ul>
      <h3>
        Efterrätter:
      </h3>
      <ul>
        <li>
          Kladdkake-taco med vaniljglass

        </li>
        <li>
          Friterade kaneläpplen med hjortronkompott

        </li>
      </ul>
    </div>
    <p>Hoppas att du och dina gäster njuter av denna unika och fantastiska snabb-palt taco-upplevelse!
    </p>
  </article>
</main>
{% endblock %}